{namespace ii=Iizunats\Iizuna\ViewHelpers}
<section data-product data-page="{page}" data-template-source="{ii:uri.api(partial:'Product/ListItem')}">
	<div data-product-list>
		<f:if condition="{products}">
			<f:then>
				<f:for each="{products}" as="product">
					<f:render partial="Product/ListItem" arguments="{product:product}" />
				</f:for>
			</f:then>
			<f:else>
				No products found :(
			</f:else>
		</f:if>
	</div>
	<button data-next-product-page="{ii:uri.template(action:'page',templateArguments:{page:'page'})}">Load more</button>
</section>