{namespace ii=iizunats\iizuna\ViewHelpers}
<section data-product data-page="{page}" data-template-source="{ii:uri.api(partial:'Product/ListItem')}">
	<div data-product-list>
		<f:if condition="{products}">
			<f:for each="{products}" as="product">
				<f:render partial="Product/ListItem" arguments="{product:product}" />
			</f:for>
		</f:if>
	</div>
	<f:alias map="{l: '{', r: '}'}">
		<!-- ADD EXPLANATION FOR ALIAS!!!! -->
		<button data-next-product-page="{f:link.action(action:'page',arguments:{page:'${l}page{r}'})}">Load more</button>
	</f:alias>
</section>